apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: zwavejs2mqtt
  namespace: openshift-gitops
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: zwavejs2mqtt
    server: {{ .Values.spec.destination.server }}
  project: default
  source:
    path: charts/zwavejs2mqtt
    repoURL: {{ .Values.spec.source.repoURL }}
    targetRevision: {{ .Values.spec.source.targetRevision }}
    helm:
      parameters:
        - name: cluster.top_level_domain
          value: {{ .Values.cluster.top_level_domain }}
        - name: cluster.name
          value: {{ .Values.cluster.name }}
        - name: cluster.admin_email
          value: {{ .Values.cluster.admin_email }}
        - name: cluster.timezone
          value: {{ .Values.cluster.timezone }}
          
        - name: storage.storageClassName
          value: {{ .Values.config.storageClassName }}
        - name: storage.media.nfs.server
          value: {{ .Values.media.nfs.server }}
        - name: storage.media.nfs.path
          value: {{ .Values.media.nfs.path }}

        - name: application.name
          value: Z-Wave JS to MQTT
        - name: application.group
          value: Home Automation
        - name: application.icon
          value: mdi:zwave
        - name: application.image
          value: 'https://upload.wikimedia.org/wikipedia/commons/6/6e/Home_Assistant_Logo.svg'
        - name: application.description
          value: "Home Automation"
        - name: app-template.service.main.ports.http.port
          value: '3000'

        - name: app-template.serviceAccount.name
          value: zwavejs2mqtt-sa
        - name: app-template.persistence.data.existingClaim
          value: zwavejs2mqtt-data-volume
        - name: app-template.persistence.config.existingClaim
          value: home-assistant-config


  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
