{{ if .Values.applications.lidarr }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: lidarr
  namespace: openshift-gitops
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: lidarr
    server: {{ .Values.spec.destination.server }}
  project: default
  source:
    path: charts/media-application
    repoURL: {{ .Values.spec.source.repoURL }}
    targetRevision: {{ .Values.spec.source.targetRevision }}
    helm:
      parameters:
        - name: cluster.top_level_domain
          value: {{ .Values.cluster.top_level_domain }}
        - name: cluster.name
          value: {{ .Values.cluster.name }}
        - name: cluster.admin_email
          value: {{ .Values.cluster.admin_email }}
        - name: cluster.timezone
          value: {{ .Values.cluster.timezone }}
          
        - name: storage.storageClassName
          value: {{ .Values.config.storageClassName }}
        - name: storage.media.nfs.server
          value: {{ .Values.media.nfs.server }}
        - name: storage.media.nfs.path
          value: {{ .Values.media.nfs.path }}

        - name: application.name
          value: lidarr
        - name: application.group
          value: Media
        - name: application.icon
          value: music-box
        - name: application.image
          value: 'https://raw.githubusercontent.com/Lidarr/Lidarr/develop/Logo/400.png'
        - name: application.description
          value: "Manages your music library"
        - name: app-template.service.main.ports.http.port
          value: '8686'

        # renovate custom-docker versioning=loose
        - name: app-template.controllers.main.containers.main.image.repository
          value: ghcr.io/home-operations/lidarr
        - name: app-template.controllers.main.containers.main.image.tag
          value: 2.11.1.4621
        - name: app-template.controllers.main.containers.main.image.pullPolicy
          value: IfNotPresent
        - name: app-template.controllers.main.containers.main.env.TZ
          value: America/New_York

        - name: app-template.serviceAccount.name
          value: lidarr-sa
        - name: app-template.persistence.data.existingClaim
          value: lidarr-data-volume
        - name: app-template.persistence.config.existingClaim
          value: lidarr-config
        - name: app-template.persistence.config.globalMounts[0].path
          value: /config

        - name: app-template.defaultPodOptions.labels.app
          value: lidarr
        - name: app-template.defaultPodOptions.labels.version
          value: 2.2.5.4141

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
{{ end }}