apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: home-automation
  namespace: openshift-gitops
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: default
    server: {{ .Values.spec.destination.server }}
  project: default
  source:
    path: roles/home-automation
    repoURL: {{ .Values.spec.source.repoURL }}
    targetRevision: {{ .Values.spec.source.targetRevision }}
    helm:
      parameters:
        - name: spec.destination.server
          value: {{ .Values.spec.destination.server }}
        - name: spec.destination.server
          value: {{ .Values.spec.destination.server }}
        - name: spec.source.repoURL
          value: {{ .Values.spec.source.repoURL }}
        - name: spec.source.targetRevision
          value: {{ .Values.spec.source.targetRevision }}

        - name: cluster.top_level_domain
          value: {{ .Values.cluster.top_level_domain }}
        - name: cluster.name
          value: {{ .Values.cluster.name }}
        - name: cluster.admin_email
          value: {{ .Values.cluster.admin_email }}
        - name: cluster.timezone
          value: {{ .Values.cluster.timezone }}

        - name: config.storageClassName
          value: {{ .Values.config.storageClassName }}
        - name: media.nfs.server
          value: {{ .Values.media.nfs.server }}
        - name: media.nfs.path
          value: {{ .Values.media.nfs.path }}

  syncPolicy:
    automated:
      selfHeal: true