apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
data:
  init-config.sh: |
    #!/bin/sh
    cat /app/config-file/config.json.template > /tmp/config.json

    yq -i '.ApiPart.FanartTvAPIKey = env(FANARTTV_API_KEY)' /tmp/config.json
    yq -i '.ApiPart.tvdbapi = env(TVDB_API_KEY)' /tmp/config.json
    yq -i '.ApiPart.tmdbtoken = env(TMDB_READ_API_TOKEN)' /tmp/config.json
    yq -i '.ApiPart.PlexToken = env(PLEX_TOKEN)' /tmp/config.json

    mkdir -p /config
    chmod 660 /tmp/config.json
    mv /tmp/config.json /config/config.json
    if [ -f "/config/temp/Posterizarr.Running" ]; then
        rm /config/temp/Posterizarr.Running
    fi
  config.json.template: |
    {
      "ApiPart": {
        "FanartTvAPIKey": "${FANARTTV_API_KEY}",
        "tvdbapi": "${TVDB_API_KEY}",
        "tmdbtoken": "${TMDB_READ_API_TOKEN}",
        "PlexToken": "${PLEX_TOKEN}",
        "JellyfinAPIKey": "JELLYFINAPIKEY",
        "EmbyAPIKey": "EMBYAPIKEY",
        "FavProvider": "tmdb",
        "PreferredLanguageOrder": [
          "en"
        ],
        "PreferredSeasonLanguageOrder": [
          "en"
        ],
        "tmdb_vote_sorting": "vote_average",
        "WidthHeightFilter": "false",
        "PosterMinWidth": "2000",
        "PosterMinHeight": "3000",
        "BgTcMinWidth": "3840",
        "BgTcMinHeight": "2160",
        "PreferredBackgroundLanguageOrder": [
          "en"
        ]
      },
      "PlexPart": {
        "LibstoExclude": [
          "Music",
          "Photos",
          "Playlists"
        ],
        "PlexUrl": "http://plex.plex:32400",
        "UsePlex": "true",
        "UploadExistingAssets": "false"
      },
      "JellyfinPart": {
        "LibstoExclude": [
          "Music",
          "Photos",
          "Playlists"
        ],
        "JellyfinUrl": "http://jellyfin.jellyfin:8097",
        "UseJellyfin": "false",
        "UploadExistingAssets": "false",
        "ReplaceThumbwithBackdrop": "false"
      },
      "EmbyPart": {
        "LibstoExclude": [
          "Music",
          "Photos",
          "Playlists"
        ],
        "EmbyUrl": "http://emby.emby:8096",
        "UseEmby": "false",
        "UploadExistingAssets": "false",
        "ReplaceThumbwithBackdrop": "false"
      },
      "Notification": {
        "SendNotification": "false",
        "AppriseUrl": "discord://{WebhookID}/{WebhookToken}/",
        "Discord": "https://discord.com/api/webhooks/add-your-discord-webhook-here",
        "DiscordUserName": "Posterizarr",
        "UseUptimeKuma": "false",
        "UptimeKumaUrl": "https://uptime-kuma.domain.com/api/push/asdfasdf"
      },
      "PrerequisitePart": {
        "AssetPath": "/data/plex/assets",
        "magickinstalllocation": "/usr/local/bin",
        "maxLogs": "5",
        "font": "Comfortaa-Medium.ttf",
        "backgroundfont": "Comfortaa-Medium.ttf",
        "titlecardfont": "Comfortaa-Medium.ttf",
        "overlayfile": "bottom-up-fade.png",
        "backgroundoverlayfile": "bottom-up-fade-background.png",
        "titlecardoverlayfile": "bottom-up-fade-background.png",
        "LibraryFolders": "true",
        "Posters": "true",
        "SeasonPosters": "true",
        "BackgroundPosters": "true",
        "TitleCards": "true",
        "show_skipped": "false",
        "logLevel": "2",
        "SkipTBA": "true",
        "SkipJapTitle": "true",
        "AssetCleanup": "true",
        "AutoUpdateIM": "false",
        "seasonoverlayfile": "bottom-up-fade.png",
        "RTLFont": "Colus-Regular.ttf",
        "NewLineOnSpecificSymbols": "false",
        "NewLineSymbols": [
          " - "
        ],
        "PlexUpload": "true",
        "BackupPath": "/data/plex/backup",
        "SkipAddText": "false",
        "FollowSymlink": "false",
        "ForceRunningDeletion": "false",
        "AutoUpdatePosterizarr": "false",
        "ManualAssetPath": "/data/plex/manual",
        "poster4k": "overlay-innerglow.png",
        "Poster1080p": "overlay-innerglow.png",
        "Background4k": "backgroundoverlay-innerglow.png",
        "Background1080p": "backgroundoverlay-innerglow.png",
        "TC4k": "backgroundoverlay-innerglow.png",
        "TC1080p": "backgroundoverlay-innerglow.png",
        "UsePosterResolutionOverlays": "false",
        "UseBackgroundResolutionOverlays": "false",
        "UseTCResolutionOverlays": "false",
        "DisableHashValidation": "false",
        "DisableOnlineAssetFetch": "false"
      },
      "OverlayPart": {
        "ImageProcessing": "true",
        "outputQuality": "92%"
      },
      "PosterOverlayPart": {
        "fontAllCaps": "true",
        "AddBorder": "false",
        "AddText": "true",
        "AddOverlay": "true",
        "fontcolor": "white",
        "bordercolor": "white",
        "minPointSize": "83",
        "maxPointSize": "250",
        "borderwidth": "30",
        "MaxWidth": "1200",
        "MaxHeight": "485",
        "text_offset": "+300",
        "AddTextStroke": "false",
        "strokecolor": "black",
        "strokewidth": "6",
        "lineSpacing": "0",
        "TextGravity": "south"
      },
      "BackgroundOverlayPart": {
        "fontAllCaps": "true",
        "AddOverlay": "false",
        "AddBorder": "false",
        "AddText": "false",
        "fontcolor": "white",
        "bordercolor": "white",
        "minPointSize": "95",
        "maxPointSize": "250",
        "borderwidth": "30",
        "MaxWidth": "3000",
        "MaxHeight": "500",
        "text_offset": "+200",
        "AddTextStroke": "false",
        "strokecolor": "black",
        "strokewidth": "6",
        "lineSpacing": "0",
        "TextGravity": "south"
      },
      "TitleCardOverlayPart": {
        "UseBackgroundAsTitleCard": "false",
        "AddOverlay": "true",
        "AddBorder": "false",
        "bordercolor": "white",
        "borderwidth": "30",
        "BackgroundFallback": "false"
      },
      "TitleCardTitleTextPart": {
        "fontAllCaps": "true",
        "AddEPTitleText": "true",
        "fontcolor": "white",
        "minPointSize": "95",
        "maxPointSize": "250",
        "MaxWidth": "2500",
        "MaxHeight": "300",
        "text_offset": "+290",
        "AddTextStroke": "false",
        "strokecolor": "black",
        "strokewidth": "6",
        "lineSpacing": "0",
        "TextGravity": "south"
      },
      "TitleCardEPTextPart": {
        "fontAllCaps": "true",
        "AddEPText": "true",
        "fontcolor": "white",
        "minPointSize": "80",
        "maxPointSize": "120",
        "MaxWidth": "1600",
        "MaxHeight": "150",
        "text_offset": "+140",
        "SeasonTCText": "Season",
        "EpisodeTCText": "Episode",
        "AddTextStroke": "false",
        "strokecolor": "black",
        "strokewidth": "4",
        "lineSpacing": "0",
        "TextGravity": "south"
      },
      "SeasonPosterOverlayPart": {
        "fontAllCaps": "true",
        "AddBorder": "false",
        "AddText": "true",
        "AddOverlay": "true",
        "fontcolor": "white",
        "bordercolor": "white",
        "minPointSize": "95",
        "maxPointSize": "250",
        "borderwidth": "30",
        "MaxWidth": "1200",
        "MaxHeight": "485",
        "text_offset": "+300",
        "AddTextStroke": "false",
        "strokecolor": "black",
        "strokewidth": "6",
        "lineSpacing": "0",
        "ShowFallback": "false",
        "TextGravity": "south"
      },
      "ShowTitleOnSeasonPosterPart": {
        "AddShowTitletoSeason": "false",
        "fontAllCaps": "true",
        "AddTextStroke": "false",
        "strokecolor": "black",
        "strokewidth": "6",
        "fontcolor": "white",
        "minPointSize": "45",
        "maxPointSize": "300",
        "MaxWidth": "1900",
        "MaxHeight": "500",
        "text_offset": "+300",
        "lineSpacing": "0",
        "TextGravity": "south"
      }
    }
