apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: openshift-cnv-cluster
  namespace: openshift-cnv
spec:
  targetNamespaces:
    - openshift-cnv
  upgradeStrategy: Default
