{{- if eq (index .Values "custom-error-pages" "template") "cats" }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/instance: custom-error-code-pages
  name: custom-error-code-pages
  namespace: openshift-config
data:
  error-page-404.http: |
    HTTP/1.0 404 File Not Found
    Cache-Control: no-cache
    Connection: close
    Content-Type: text/html

    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="robots" content="nofollow,noarchive,noindex">
      <title>Not Found</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="title" content="404: Not Found">
      <meta name="description" content="The server can not find the requested page">
      <meta property="og:title" content="404: Not Found">
      <meta property="og:description" content="The server can not find the requested page">
      <meta property="twitter:title" content="404: Not Found">
      <meta property="twitter:description" content="The server can not find the requested page">
      <style>
        :root {
          --color-primary: #fff;
          --color-inverted: #202020;
        }
        @media (prefers-color-scheme: dark) {
          :root {
            --color-primary: #000;
            --color-inverted: #fff;
          }
        }
        html, body {
          margin: 0;
          padding: 0;
          min-height: 100%;
          height: 100%;
          width: 100%;
          background-color: var(--color-primary);
          color: var(--color-inverted);
          font-family: sans-serif;
          font-size: 16px;
          word-break: keep-all;
        }
        @media screen and (min-width: 2000px) {
          html, body {
            font-size: 22px;
          }
        }
        body {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
        }
        article img {
          width: 100%;
          max-width: 750px;
          box-shadow: 0 30px 0 -20px rgba(0, 0, 0, 0.2);
        }
      </style>
    </head>
    <body>
    <article>
      <img src="https://http.cat/404.jpg" alt="Not Found">
    </article>
    </body>
    </html>

  error-page-503.http: |
    HTTP/1.0 503 Service Unavailable
    Cache-Control: no-cache
    Connection: close
    Content-Type: text/html

    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="robots" content="nofollow,noarchive,noindex">
      <title>Service Unavailable</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="refresh" content="30">
      <meta name="title" content="503: Service Unavailable">
      <meta name="description" content="The server is temporarily overloading or down">
      <meta property="og:title" content="503: Service Unavailable">
      <meta property="og:description" content="The server is temporarily overloading or down">
      <meta property="twitter:title" content="503: Service Unavailable">
      <meta property="twitter:description" content="The server is temporarily overloading or down">
      <style>
        :root {
          --color-primary: #fff;
          --color-inverted: #202020;
        }
        @media (prefers-color-scheme: dark) {
          :root {
            --color-primary: #000;
            --color-inverted: #fff;
          }
        }
        html, body {
          margin: 0;
          padding: 0;
          min-height: 100%;
          height: 100%;
          width: 100%;
          background-color: var(--color-primary);
          color: var(--color-inverted);
          font-family: sans-serif;
          font-size: 16px;
          word-break: keep-all;
        }
        @media screen and (min-width: 2000px) {
          html, body {
            font-size: 22px;
          }
        }
        body {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
        }
        article img {
          width: 100%;
          max-width: 750px;
          box-shadow: 0 30px 0 -20px rgba(0, 0, 0, 0.2);
        }
      </style>
    </head>
    <body>
    <article>
      <img src="https://http.cat/503.jpg" alt="Service Unavailable">
    </article>
    </body>
    </html>

{{- end }}
