apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: overseerr
  namespace: openshift-gitops
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: overseerr
    server: {{ .Values.spec.destination.server }}
  project: default
  source:
    path: charts/media-application
    repoURL: {{ .Values.spec.source.repoURL }}
    targetRevision: {{ .Values.spec.source.targetRevision }}
    helm:
      parameters:
        - name: cluster.top_level_domain
          value: {{ .Values.cluster.top_level_domain }}
        - name: cluster.name
          value: {{ .Values.cluster.name }}
        - name: cluster.admin_email
          value: {{ .Values.cluster.admin_email }}
        - name: cluster.timezone
          value: {{ .Values.cluster.timezone }}
          
        - name: storage.storageClassName
          value: {{ .Values.config.storageClassName }}
        - name: storage.media.nfs.server
          value: {{ .Values.media.nfs.server }}
        - name: storage.media.nfs.path
          value: {{ .Values.media.nfs.path }}

        - name: application.name
          value: overseerr
        - name: application.group
          value: Media
        - name: application.icon
          value: eye-circle
        - name: application.image
          value: 'https://raw.githubusercontent.com/sct/overseerr/develop/public/logo_full.svg'
        - name: application.description
          value: "Helps you find media you want to watch"
        - name: app-template.service.main.ports.http.port
          value: '5055'

        - name: app-template.controllers.main.containers.main.image.repository
          value: ghcr.io/sct/overseerr
        - name: app-template.controllers.main.containers.main.image.tag
          value: 1.33.2
        - name: app-template.controllers.main.containers.main.image.pullPolicy
          value: IfNotPresent
        - name: app-template.controllers.main.containers.main.env.TZ
          value: America/New_York

        - name: app-template.serviceAccount.name
          value: overseerr-sa
        - name: app-template.persistence.data.existingClaim
          value: overseerr-data-volume
        - name: app-template.persistence.config.existingClaim
          value: overseerr-config
        - name: app-template.persistence.config.globalMounts[0].path
          value: /app/config

        - name: app-template.defaultPodOptions.labels.app
          value: overseerr
        - name: app-template.defaultPodOptions.labels.version
          value: 1.33.2

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
