{{ if .Values.applications.prowlarr }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prowlarr
  namespace: openshift-gitops
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: prowlarr
    server: {{ .Values.spec.destination.server }}
  project: default
  source:
    path: charts/media-application
    repoURL: {{ .Values.spec.source.repoURL }}
    targetRevision: {{ .Values.spec.source.targetRevision }}
    helm:
      parameters:
        - name: cluster.top_level_domain
          value: {{ .Values.cluster.top_level_domain }}
        - name: cluster.name
          value: {{ .Values.cluster.name }}
        - name: cluster.admin_email
          value: {{ .Values.cluster.admin_email }}
        - name: cluster.timezone
          value: {{ .Values.cluster.timezone }}
          
        - name: storage.storageClassName
          value: {{ .Values.config.storageClassName }}
        - name: storage.media.nfs.server
          value: {{ .Values.media.nfs.server }}
        - name: storage.media.nfs.path
          value: {{ .Values.media.nfs.path }}

        - name: application.name
          value: prowlarr
        - name: application.group
          value: Media
        - name: application.icon
          value: cloud-search
        - name: application.image
          value: 'https://raw.githubusercontent.com/Prowlarr/Prowlarr/develop/Logo/400.png'
        - name: application.description
          value: "Indexer manager/proxy"
        - name: app-template.service.main.ports.http.port
          value: '9696'

        # renovate custom-docker versioning=loose
        - name: app-template.controllers.main.containers.main.image.repository
          value: ghcr.io/home-operations/prowlarr
        - name: app-template.controllers.main.containers.main.image.tag
          value: 1.32.2.4987
        - name: app-template.controllers.main.containers.main.image.pullPolicy
          value: IfNotPresent
        - name: app-template.controllers.main.containers.main.env.TZ
          value: America/New_York

        - name: app-template.serviceAccount.name
          value: prowlarr-sa
        - name: app-template.persistence.data.existingClaim
          value: prowlarr-data-volume
        - name: app-template.persistence.config.existingClaim
          value: prowlarr-config
        - name: app-template.persistence.config.globalMounts[0].path
          value: /config

        - name: app-template.defaultPodOptions.labels.app
          value: prowlarr
        - name: app-template.defaultPodOptions.labels.version
          value: 1.16.2.4435

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
{{ end }}