{{ if .Values.applications.radarr }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: radarr
  namespace: openshift-gitops
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: radarr
    server: {{ .Values.spec.destination.server }}
  project: default
  source:
    path: charts/media-application
    repoURL: {{ .Values.spec.source.repoURL }}
    targetRevision: {{ .Values.spec.source.targetRevision }}
    helm:
      parameters:
        - name: cluster.top_level_domain
          value: {{ .Values.cluster.top_level_domain }}
        - name: cluster.name
          value: {{ .Values.cluster.name }}
        - name: cluster.admin_email
          value: {{ .Values.cluster.admin_email }}
        - name: cluster.timezone
          value: {{ .Values.cluster.timezone }}
          
        - name: storage.media.nfs.server
          value: {{ .Values.media.nfs.server }}
        - name: storage.media.nfs.path
          value: {{ .Values.media.nfs.path }}

        - name: application.name
          value: radarr
        - name: application.group
          value: Media
        - name: application.icon
          value: movie-open
        - name: application.image
          value: 'https://raw.githubusercontent.com/Radarr/Radarr/develop/Logo/400.png'
        - name: application.description
          value: "Manages your movie library"
        - name: app-template.service.main.ports.http.port
          value: '7878'

        # renovate custom-docker versioning=loose
        - name: app-template.controllers.main.containers.main.image.repository
          value: ghcr.io/home-operations/radarr
        - name: app-template.controllers.main.containers.main.image.tag
          value: 5.27.1.10122
        - name: app-template.controllers.main.containers.main.image.pullPolicy
          value: IfNotPresent
        - name: app-template.controllers.main.containers.main.env.TZ
          value: America/New_York

        - name: app-template.controllers.main.serviceAccount.name
          value: radarr-sa
        - name: app-template.persistence.data.enabled
          value: "true"
        - name: app-template.persistence.data.existingClaim
          value: radarr-data-volume
        - name: app-template.persistence.config.enabled
          value: "true"
        - name: app-template.persistence.config.existingClaim
          value: radarr-config
        - name: app-template.persistence.config.globalMounts[0].path
          value: /config

        - name: app-template.defaultPodOptions.labels.app
          value: radarr
        - name: app-template.defaultPodOptions.labels.version
          value: 5.4.6.8723

  syncPolicy:
{{ if .Values.spec.syncPolicy.automated.enabled }}
    automated: {}
{{ end }}
    syncOptions:
      - CreateNamespace=true
{{ end }}