{{ if .Values.applications.sabnzbd }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sabnzbd
  namespace: openshift-gitops
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: sabnzbd
    server: {{ .Values.spec.destination.server }}
  project: default
  source:
    path: charts/media-application
    repoURL: {{ .Values.spec.source.repoURL }}
    targetRevision: {{ .Values.spec.source.targetRevision }}
    helm:
      parameters:
        - name: cluster.top_level_domain
          value: {{ .Values.cluster.top_level_domain }}
        - name: cluster.name
          value: {{ .Values.cluster.name }}
        - name: cluster.admin_email
          value: {{ .Values.cluster.admin_email }}
        - name: cluster.timezone
          value: {{ .Values.cluster.timezone }}
          
        - name: storage.storageClassName
          value: {{ .Values.config.storageClassName }}
        - name: storage.media.nfs.server
          value: {{ .Values.media.nfs.server }}
        - name: storage.media.nfs.path
          value: {{ .Values.media.nfs.path }}

        - name: application.name
          value: sabnzbd
        - name: application.group
          value: Media
        - name: application.icon
          value: download-box
        - name: application.image
          value: 'https://raw.githubusercontent.com/sabnzbd/sabnzbd/develop/icons/logo-arrow.svg'
        - name: application.description
          value: "Efficient Usenet downloader"
        - name: app-template.service.main.ports.http.port
          value: '8080'

        # renovate custom-docker versioning=semver
        - name: app-template.controllers.main.initContainers.config-fix.image.repository
          value: alpine
        - name: app-template.controllers.main.initContainers.config-fix.image.tag
          value: 3.20.0
        - name: app-template.controllers.main.initContainers.config-fix.command[0]
          value: "sh"
        - name: app-template.controllers.main.initContainers.config-fix.command[1]
          value: "-c"
        - name: app-template.controllers.main.initContainers.config-fix.command[2]
          value: 'if test -f /config/sabnzbd.ini; then sed -i "s/^host_whitelist.*/host_whitelist = sabnzbd.sabnzbd,sabnzbd.apps.{{ .Values.cluster.name }}.{{ .Values.cluster.top_level_domain }}/" /config/sabnzbd.ini; fi'
        - name: app-template.controllers.main.initContainers.config-fix.securityContext.readOnlyRootFilesystem
          value: 'true'
        - name: app-template.controllers.main.initContainers.config-fix.securityContext.runAsUser
          value: '0'
        - name: app-template.controllers.main.initContainers.config-fix.securityContext.runAsNonRoot
          value: 'false'

        # renovate custom-docker versioning=semver
        - name: app-template.controllers.main.containers.main.image.repository
          value: ghcr.io/onedr0p/sabnzbd
        - name: app-template.controllers.main.containers.main.image.tag
          value: 4.3.2
        - name: app-template.controllers.main.containers.main.image.pullPolicy
          value: IfNotPresent
        - name: app-template.controllers.main.containers.main.env.TZ
          value: America/New_York

        - name: app-template.serviceAccount.name
          value: sabnzbd-sa
        - name: app-template.persistence.data.existingClaim
          value: sabnzbd-data-volume
        - name: app-template.persistence.config.existingClaim
          value: sabnzbd-config
        - name: app-template.persistence.config.globalMounts[0].path
          value: /config

        - name: app-template.defaultPodOptions.labels.app
          value: sabnzbd
        - name: app-template.defaultPodOptions.labels.version
          value: 4.3.1

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
{{ end }}