{{ if .Values.applications.tautulli }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tautulli
  namespace: openshift-gitops
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: tautulli
    server: {{ .Values.spec.destination.server }}
  project: default
  source:
    path: charts/media-application
    repoURL: {{ .Values.spec.source.repoURL }}
    targetRevision: {{ .Values.spec.source.targetRevision }}
    helm:
      parameters:
        - name: cluster.top_level_domain
          value: {{ .Values.cluster.top_level_domain }}
        - name: cluster.name
          value: {{ .Values.cluster.name }}
        - name: cluster.admin_email
          value: {{ .Values.cluster.admin_email }}
        - name: cluster.timezone
          value: {{ .Values.cluster.timezone }}
          
        - name: storage.storageClassName
          value: {{ .Values.config.storageClassName }}
        - name: storage.media.nfs.server
          value: {{ .Values.media.nfs.server }}
        - name: storage.media.nfs.path
          value: {{ .Values.media.nfs.path }}

        - name: application.name
          value: Tautulli
        - name: application.group
          value: Media
        - name: application.icon
          value: chart-bar
        - name: application.image
          value: 'https://tautulli.com/images/logo.svg'
        - name: application.description
          value: "Statistics for Plex"
        - name: app-template.service.main.ports.http.port
          value: '8181'

        # renovate custom-docker versioning=semver
        - name: app-template.controllers.main.containers.main.image.repository
          value: ghcr.io/onedr0p/tautulli
        - name: app-template.controllers.main.containers.main.image.tag
          value: 2.15.1
        - name: app-template.controllers.main.containers.main.image.pullPolicy
          value: IfNotPresent
        - name: app-template.controllers.main.containers.main.env.TZ
          value: America/New_York

        - name: app-template.serviceAccount.name
          value: tautulli-sa
        - name: app-template.persistence.data.existingClaim
          value: tautulli-data-volume
        - name: app-template.persistence.config.existingClaim
          value: tautulli-config
        - name: app-template.persistence.config.globalMounts[0].path
          value: /config

        - name: app-template.defaultPodOptions.labels.app
          value: tautulli
        - name: app-template.defaultPodOptions.labels.version
          value: 2.13.4

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
{{ end }}