apiVersion: hajimari.io/v1alpha1
kind: Application
metadata:
  name: kasten-k10
spec:
  name: Kasten K10
  group: Infrastructure
  icon: backup
  url: https://k10.apps.{{ .Values.cluster.name }}.{{ .Values.cluster.top_level_domain }}
  info: "Backup and recovery."
---
apiVersion: console.openshift.io/v1
kind: ConsoleLink
metadata:
  name: "kasten-k10-application-menu-link"
spec:
  href: https://k10.apps.{{ .Values.cluster.name }}.{{ .Values.cluster.top_level_domain }}
  location: ApplicationMenu
  applicationMenu:
    section: Infrastructure
    imageURL: https://docs.kasten.io/3.0.10/_static/kasten-logo-vertical.png
  text: "Kasten K10"
---
apiVersion: console.openshift.io/v1
kind: ConsoleLink
metadata:
  name: "kasten-k10-namespace-dashboard-link"
spec:
  href: https://k10.apps.{{ .Values.cluster.name }}.{{ .Values.cluster.top_level_domain }}
  location: NamespaceDashboard
  namespaceDashboard:
    namespaces:
      - kasten-io
  text: 'Access Application'